.botonIngresarSistema
{
    background-color:#5f5fff;text-align: center;width: 150px;color:white;border-radius: 5px; 
    border:none;height: 35px;font-size: 12pt;
}

.DivMensajeConfirmar
{
    background-color: white;width:30%;
}

.DivMensajeConfirmar02
{
    background-color: white;width:30%;clear: both;
}





