<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EstudianteServlet</servlet-name>
        <servlet-class>Controladores.EstudianteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalServlet</servlet-name>
        <servlet-class>Controladores.PersonalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocenteServlet</servlet-name>
        <servlet-class>Controladores.DocenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalAdministrativoServlet</servlet-name>
        <servlet-class>Controladores.PersonalAdministrativoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controladores.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AulaServlet</servlet-name>
        <servlet-class>Controladores.AulaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuloServlet</servlet-name>
        <servlet-class>Controladores.ModuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculaServlet</servlet-name>
        <servlet-class>Controladores.MatriculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartamentoServlet</servlet-name>
        <servlet-class>Controladores.DepartamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinciaServlet</servlet-name>
        <servlet-class>Controladores.ProvinciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistritoServlet</servlet-name>
        <servlet-class>Controladores.DistritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalleServlet</servlet-name>
        <servlet-class>Controladores.CalleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>Controladores.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NivelServlet</servlet-name>
        <servlet-class>Controladores.NivelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CicloServlet</servlet-name>
        <servlet-class>Controladores.CicloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstudianteServlet</servlet-name>
        <url-pattern>/EstudianteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalServlet</servlet-name>
        <url-pattern>/PersonalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocenteServlet</servlet-name>
        <url-pattern>/DocenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalAdministrativoServlet</servlet-name>
        <url-pattern>/PersonalAdministrativoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AulaServlet</servlet-name>
        <url-pattern>/AulaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuloServlet</servlet-name>
        <url-pattern>/ModuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculaServlet</servlet-name>
        <url-pattern>/MatriculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartamentoServlet</servlet-name>
        <url-pattern>/DepartamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinciaServlet</servlet-name>
        <url-pattern>/ProvinciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistritoServlet</servlet-name>
        <url-pattern>/DistritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalleServlet</servlet-name>
        <url-pattern>/CalleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/MateriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NivelServlet</servlet-name>
        <url-pattern>/NivelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CicloServlet</servlet-name>
        <url-pattern>/CicloServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
